.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  background: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  max-width: 70%;
  max-height: 90vh;
  overflow-x: scroll;
}

.modal_content img {
  margin: 10px;
}

.close_btn {
  position: absolute;
  top: 13px;
  right: 18px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
